doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title} - ReviewUs
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/builder.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap")

  body
    .wrapper
      header
        nav.navbar
          .container
            a.brand(href="/") FeedbacksApi
            ul.nav-links
              li
                a(href="/") About
              li
                a(href="/form-builder") Build Form
              li
                a(href="/update-form") Update Form
              li
                a(href="/remove-form") Remove Form
              li
                a(href="/feedbacks-viewer") View Feedbacks
              li
                a(href="/analytics-viewer") View Analytics
      main.container
        block content
      footer.footer
        .container
          p &copy; #{new Date().getFullYear()} ReviewUs. All rights reserved.
          ul.footer-links
            li
              a(href="https://twitter.com")
                i.fab.fa-twitter
            li
              a(href="https://facebook.com")
                i.fab.fa-facebook
            li
              a(href="https://linkedin.com")
                i.fab.fa-linkedin
            li
              a(href="https://github.com")
                i.fab.fa-github


